//$desktop: ;
$widescreen: 960px;
$fullhd: $widescreen;

@import "~bulma/bulma";

body, html {
  height: 100%;
  overflow: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 20px;
}

#home {
  header {
    min-height: 45px;
  }
  aside header {
    h2 {
      font-size: 35px;
    }
  }
  img {
    padding: 20px;
  }
}