//$desktop: ;
$widescreen: 960px;
$fullhd: $widescreen;

@import "~bulma/bulma";

body, html {
  height: 100%;
  overflow: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 20px;
}

#home {
  header {
    min-height: 45px;
  }
  aside header {
    h2 {
      font-size: 35px;
    }
  }
  img {
    padding: 20px;
  }
}

header.has-featured-image {
  padding: 100px 20px;
  position: relative;
  color: #ffffff;
  background: #000000;

  .featured-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0.8;
  }

  .title-holder {
    position: relative;
    z-index: 20;
  }
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  color: #ffffff;
  border-bottom: 3px solid #dddddd;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav-link {
    color: #777777;
    line-height: 45px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      font-size: 22px;
    }
  }
}

#nav-logo {
  max-height: 40px;
}

#navtrigger {
  position: fixed;
  top: 5px;
  right: 15px;
  height: 60px;
  width: 60px;
  line-height: 58px;
  border-radius: 100%;
  background: white;
  z-index: 500;
  cursor: pointer;
  border: 1px solid rgba(80, 80, 80, 0.3);
  text-align: center;
}

@include mobile(){
  #navbar {
    border: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    .nav-link {
      line-height: 25px;
    }

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }
  }
}